{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inventory App{% endblock %}</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-100 font-sans">

    <!-- Navigation Bar -->
    <nav>
        <div class="bg-gray-800 shadow-md">
            <div class="max-w-7xl mx-auto px-4">
                <ul class="flex justify-start space-x-6 py-4 text-white">
                    <li><a href="{% url 'home_page' %}" class="text-md font-semibold  hover:text-blue-600 ease-in duration-200">Inventory App</a></li>
                    <li><a href="{% url 'create_product' %}" class="text-md font-semibold hover:text-blue-600 ease-in duration-200">Add Product</a></li>
                    <li><a href="{% url 'product_list' %}" class="text-md font-semibold hover:text-blue-600 ease-in duration-200">Show Products</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content Section -->
    <div class="min-h-screen bg-gray-200 py-8">
        <div class="max-w-7xl mx-auto px-4">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>
